@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", system-ui, Arial, Helvetica, sans-serif;
}

.app {
  background-color: rgb(49, 49, 49);
}

.header {
  color: white;
  background-color: rgb(61, 61, 61);
  padding: 18px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.295);
}
.logo {
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 1.6rem;
  margin-left: 32px;
}
.search {
  background-color: rgb(49, 49, 49);
  border: none;
  padding: 8px;
  border-radius: 6px;
  color: white;
  font-size: 1.2rem;
  outline: none;
}
.search:focus {
  transform: translateY(-3px);
  box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.322);
  border: none;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.main {
  padding: 48px;
}

.games-list {
  color: white;
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);

  list-style: none;
  justify-content: center;
  gap: 4px;
}
.game-picture {
  width: 150px;
  object-fit: cover;
}

.games-list li {
  display: grid;
  grid-template-columns: 150px 1fr 40px;
  grid-template-rows: 90px;
  background-color: rgb(41, 41, 41);
}
.game-name {
  font-size: 1.2rem;
  font-weight: 700;
}

.game-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px;
}
.genre-list {
  display: flex;
  gap: 6px;
}
.genre {
  font-size: 0.9rem;
  font-style: italic;
  background-color: rgba(255, 255, 255, 0.068);
  padding: 2px;
  border-radius: 2px;
}
.rating {
  align-self: center;
  text-align: center;
}
