@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", system-ui, Arial, Helvetica, sans-serif;
}

.app {
  width: 100vw;
  height: 100vh;
  background-color: rgb(26, 26, 26);
}
.header {
  color: white;
  background-color: rgb(58, 58, 58);
  padding: 32px;
}
.logo {
  letter-spacing: 1px;
  font-weight: 700;
}
